vs-project/Release/bspguy.exe
*.obj
*.tlog
*.log
*.recipe
*.exp
*.html
*.css
*.stamp
*.suo
*.bin
*.db-shm
*.db
*.db-wal
*.opendb
*.ipch
*.pdb
*.ilk
*.bsp
*.bak
*.vsidx
*.lock
*.exe
/build/*
/vs-project/bspguy.dir*
vs-project/Release/*
vs-project/Debug/*
vs-project/glfw/src/Debug/glfw3.lib
vs-project/glfw/src/Release/glfw3.lib
vs-project/bspguy.dir/Debug/vc143.idb
vs-project/glfw/src/Debug/glfw3.lib
vs-project/glfw/src/Release/glfw3.lib
vs-project/bspguy.dir/Debug/bspguy.vcxproj.FileListAbsolute.txt
vs-project/bspguy.dir/Release/bspguy.vcxproj.FileListAbsolute.txt
vs-project/glfw/src/glfw.dir/Debug/glfw.vcxproj.FileListAbsolute.txt
vs-project/glfw/src/glfw.dir/Release/glfw.vcxproj.FileListAbsolute.txt
vs-project/Release/log.txt
*.enc
*.sarif
*.lastcodeanalysissucceeded
vs-project/glfw/src/glfw.dir/Debug/CodeAnalysisResultManifest.txt
*.dmp
vs-project/fmt/fmt/Debug/fmtd.lib
vs-project/fmt/fmt/Release/fmt.lib
vs-project/fmt/fmt.dir/Debug/fmt.vcxproj.FileListAbsolute.txt
vs-project/fmt/fmt.dir/Release/fmt.vcxproj.FileListAbsolute.txt
*.lit
vs-project/Release/newbspguy.zip
vs-project/Release/language.ini
vs-project/log.txt
vs-project/Release/language_ru.ini
vs-project/Release/imgui.ini
vs-project/bspguy.cfg
vs-project/Release/scripts/maps/bspguy/v2/bspguy.as
vs-project/Release/scripts/maps/bspguy/v2/bspguy.fgd
vs-project/Release/scripts/maps/bspguy/v2/bspguy_equip.as
vs-project/Release/scripts/maps/bspguy/v2/map.as
vs-project/Release/sveen_coop/bspguy.cfg
vs-project/Release/sveen_coop/language.ini
vs-project/Release/sveen_coop/language_ru.ini
vs-project/Release/sveen_coop/log.txt
vs-project/Release/eee.cap
quaketest.txt
vs-project/fmt/fmt/Debug/fmtd.idb
vs-project/glfw/src/Debug/glfw3.idb
*.ent
!demo/*.bsp
vs-project/.vs/bspguy/v17/DocumentLayout.json
/vs-project/.vs
*.json
*.command
vs-project/bspguy/Debug/bspguy.vcxproj.FileListAbsolute.txt
/vs-project/bspguy/Debug
/vs-project/bspguy/Release
/ascript/angelscript/lib
ascript/angelscript/projects/msvc2022/Debug/angelscript.vcxproj.FileListAbsolute.txt
/vs-project/fmt/Debug
/vs-project/glfw/src/Debug
/vs-project/glfw/src/glfw.dir/Release
/vs-project/glfw/src/ReleaseXPx86
/vs-project/fmt/fmt.dir
/vs-project/glfw/src/glfw.dir
/ascript/angelscript/projects/msvc2022/x64
/vs-project/fmt/fmt/ReleaseXPx86
/vs-project/glfw/src/ReleaseXP
/Linux-Build
